header {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  background-image: url("images/spacex-head.jpeg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
}

html {
    margin: 0;
    border:0;
    scroll-behavior: smooth;
}

main {
  background: black;
  min-height: 200px;
  text-transform: uppercase;
  margin: 0;
}

footer {
  background: black;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

body {
    color: white;
    font-family: sans-serif;
    margin: 0;
}

h1{
    margin-top: 0;
    margin-right: 10px;
}

nav {
    margin-top: 8px;
    flex-wrap: nowrap;
}

section{
    background-size: cover;
    background-position: center;
    height: 110vh;
    align-content: center;
    position: relative;
    display:block;
}

.nav {
    background-color: transparent;
    color: white;
    white-space: nowrap;
}

.navbar {
    display:flex;
    width: 100vw;
    height: 5%;
    margin: 0 auto;
    text-align: left;
    padding-top: 50px;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

/* hide navbar on mobile display */
@media only screen and (max-width: 878px) {
    .nav{
        display: none;
    }
}

.logo {
    color: white;
    display: flex;
    width: fit-content;
}

.button {
    border-color: white;
    border: 2px solid;
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 2rem 1rem 2rem;
    justify-content: left;
}

.button:hover {
    background-color: white;
    color: black;
    border-color: white;
}

.section1 {
    background-image: url("images/s1.jpeg");
}

.section2 {
    background-image: url("images/s2.jpeg");
}

.section3 {
    background-image: url("images/s3.jpeg");
}

.section4 {
    background-image: url("images/deathstar.jpeg");
}

.section5 {
    background-image: url("images/jack-8.png");
}

.large-title {
    color: white;
}

.nav-item:hover {
    text-decoration: underline;
}

.home-content {
    position: absolute;
    bottom: 75px;
    left: 50px;
}

.nav-item {
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.content {
    position: absolute;
    left: 50px;
    bottom: 150px;
}

.footer-link:hover {
    color: grey;
}

.btt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.btt-btn {
    border-color: gray;
    border: 2px solid;
    border-radius: 20px;
    background-color: transparent;
    color: gray;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.btt-btn:hover {
    border-color: white;
    color: white;
}

.icons {
    width: 20px;
}

.small-title {
    font-weight: 600;
}
